# -----------------------------
# python_version == '3.11.7'
# -----------------------------

# -----------------------------
# Environment management
# -----------------------------
dotenv

# -----------------------------
# Core Dependencies
# -----------------------------
pandas
openpyxl
plotly
scikit-learn

# -----------------------------
# Formatting libraries
# -----------------------------
jinja2
markdown
pyyaml

# -----------------------------
# Language Models (LLM)
# -----------------------------
google-genai
# llama-cpp-python
# huggingface_hub

# -----------------------------
# Testing Dependencies
# -----------------------------
pytest
pytest-mock
pytest-cov

# -----------------------------
# Formatting and linting tools
# -----------------------------
black
isort
flake8