name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.11.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.11.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uvicorn 

    - name: Install make (if not already available)
      run: sudo apt-get install make

    # - name: Install dependencies
    #   run: |
    #     make install

    - name: Install dependencies
      run: |
        bash ./runme.sh

    - name: Run tests
      run: |
        source venv/bin/activate
        make test

    # Optional: Linting and formatting checks
    - name: Lint code
      run: |
        make lint

    - name: Check code formatting
      run: |
        make format
